{% load static %} 
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <link rel="stylesheet" href="{% static 'stream_snapper/style.css' %}">
    <meta charset="utf-8">
    <title>Exciting scene</title>
</head>
<body>
    <div class="header">
        <ul>
            <ul>
                <li><a href="https://lemon-tech.jp/">lemonとは</a></li>
                <li><a href="{% url goToGenerateUrl %}">その場で動画盛り上がり検出！</a></li>
                <li><a href="{% url gotoform %}">動画リクエスト</a></li>
                <li><a href="{% url goto %}">動画検索</a></li>
                <li><a href="https://lemon-tech.jp/contact/">お問い合わせ</a></li>            
            </ul>
        </ul>
        <a href="/stream_snapper/"><img src="{% static 'stream_snapper/pages/logo.png' %}" style="width: 80px; border-radius: 10px;"/></a>
    </div>
<div class="form-container">
    <div class="Form">
    <div class="description">
        動画のURLを入力すると盛り上がったシーンをグラフ化して分析することができます.
        ※レスポンスが返ってくるまでに時間がかかる場合があります.
    </div>
    <form action="{% url 'analyzeUrl' %}" method="POST">
        {% csrf_token %}
        <div class="Form-Item">
            {{ form.as_p }}
            <input type="submit" value="送信">
        {% if image_base64 %}
            <div class="response">
                <!-- Base64でエンコードされた画像を表示 -->
                <img src="data:image/jpeg;base64,{{ image_base64 }}" alt="Processed Image"/>
            </div>
        {% endif %}
      </div>
      </form> 
</div>
</div>
</body>
</html>
