{% comment %} {% extends "base.html" %} {% endcomment %}

{% block title %}動画一覧{% endblock %}

{% block content %}
<div>
    <ul>
      {% for obj in object_list %}
      
      <a href="{{ obj.url }}" target="_blank">{{ obj.title }}</a>
        <li>
            <a href="{{ obj.url }}" target="_blank">
                <!-- サムネイルを表示 -->
            <img src="https://img.youtube.com/vi/{{ obj.video }}/0.jpg" alt="{{ obj.title }}">
          </a>
        </li>
      {% endfor %}
    </ul>
</div>
{% endblock %}
