{% load static %} 
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
    <meta charset="utf-8">
    <title>Exciting scene</title>
</head>
<body>
    <div class="header">
        <ul>
            <ul>
                <li><a href="https://lemon-tech.jp/">lemonとは</a></li>
                <li><a href="{% url goToGenerateUrl %}">その場で動画盛り上がり検出！</a></li>
                <li><a href="{% url gotoform %}">動画リクエスト</a></li>
                <li><a href="{% url goto %}">動画検索</a></li>
                <li><a href="https://lemon-tech.jp/contact/">お問い合わせ</a></li>            
            </ul>
        </ul>
        <a href="/hello/"><img src="{% static 'hello/pages/logo.png' %}" style="width: 80px; border-radius: 10px;"/></a>
    </div>
<div class="form-container">
    <div class="Form">
    <div class="description">
        動画のURLを入力すると最も盛り上がったシーンを自動検出して, 対象箇所からスタートするURLを生成します.
        ※レスポンスが返ってくるまでに時間がかかる場合があります.
    </div>
    <form action="{% url 'GenerateUrl' %}" method="POST">
        {% csrf_token %}
        <div class="Form-Item">
            {{ form.as_p }}
            <input type="submit" value="送信">
        {% if response %}
            <div class="response">
                <p>面白いシーンのURL: {{ response }}</p>
            </div>
        {% endif %}
      </div>
      </form> 
</div>
</div>
</body>
</html>
