{% load static %} 
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>hello</title>
</head>
<head>
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
    <link rel="stylesheet" href="{% static 'hello/index.css' %}">
    <meta charset="utf-8">
    <title>Exciting scene</title>
</head>

<body>
    <div class="header">
        <ul>
            <ul>
                <li><a href="https://lemon-tech.jp/">lemonとは</a></li>
                <li><a href="{% url goToGenerateUrl %}">その場で動画盛り上がり検出！</a></li>
                <li><a href="{% url gotoform %}">動画リクエスト</a></li>
                <li><a href="{% url goto %}">動画検索</a></li>
                <li><a href="https://lemon-tech.jp/contact/">お問い合わせ</a></li>            
            </ul>
        </ul>
        <a href="/hello/"><img src="{% static 'hello/pages/logo.png' %}" style="width: 80px; border-radius: 10px;"/></a>
    </div>

    <div class="main-sub">
            <div class="text">私たちはもう, 面白いところだけ見られれば良い.</div>
    </div> 

    <div class="title-sub">
        <img src="{% static 'hello/pages/logo.png' %}" style="width: 600px"/>
        <h1 align="center" >Stream Snapper</h1>
        <p align="center">このサイトではYoutubeのライブ動画で一番盛り上がったシーンに飛ぶことができます.</p>
    </div>

    </div>
    <div class="button-group">
        <span class="button">
            <img src="{% static 'hello/pages/youtube.png' %}" alt="YouTube" style="width: 160px; border-radius: 10px;"/>
            <a href="{% url goto %}">動画一覧を見る</a>
            <div class="description">
                動画を再生すると最も盛り上がったシーンに飛びます.
            </div>
        </span>
        <span class="button">
            <img src="{% static 'hello/pages/cut.png' %}" alt="Cut" style="width: 160px; border-radius: 10px;"/>
            <a href="{% url goToGenerateUrl %}">盛り上がりを検出する</a>
            <div class="description">
                動画のURLを入力すると最も盛り上がったシーンを自動検出して, 対象箇所からスタートするURLを生成します.
            </div>
        </span>
    </div>
    <div class="button-group">
        <span class="button">
            <img src="{% static 'hello/pages/upload.png' %}" alt="upload" style="width: 160px; border-radius: 10px;"/>
            <a href="{% url gotoform %}">動画リクエストをする</a>
            <div class="description">
                動画のURLを入力すると最も盛り上がったシーンを自動検出して,動画一覧に追加することできます.
            </div>
        </span>
        <span class="button">
            <img src="{% static 'hello/pages/analyze.png' %}" alt="analyze" style="width: 160px; border-radius: 10px;"/>
            <a href="{% url analyzeUrl %}">動画を分析する</a>
            <div class="description">
                動画のURLを入力すると盛り上がったシーンをグラフ化して分析することができます.
            </div>
        </span>
    </div>
        </html>
</body>